@import "tailwindcss";

html{
    scroll-behavior: smooth;
}


@layer components {
    .header-stuck {
        left: 0;
        position: fixed !important;
        right: 0;
        top: 0;
        transform: translate3d(0, -100%, 0);
        /* transition: transform 0.4s cubic-bezier(.165,.84,.44,1); */
        transition: none;
        will-change: transform;
        z-index: 20;
    }
    .stuck{
        transform: translate3d(0, -100%, 0); 
    }
    .header-opening{
        transform: translateZ(0) !important;
        transition: all 1s cubic-bezier(.165,.84,.44,1) !important;
    }
}